@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: #ddd;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.title {
  font-size: 2em;
  text-shadow: 2px 2px 5px #cecece;
  letter-spacing: 3px;

  border-bottom: 3px solid #222;
  padding: 55px 50px 10px 50px;
  margin-bottom: 50px;
}

div.info {
  height: 20%;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  color: #222;
}

section {
  margin-bottom: 50px;
  display: flex;
}

section input {
  padding: 10px;
  width: 500px;

  outline: none;
  font-size: 20px;
}

section button {
  width: 75px;
  margin-left: 3px;

  outline: none;

  font-size: 25px;
  background-color: #111;
  box-shadow: 1px 1px 2px #555;
  color: #eef;
  border: none;
  cursor: pointer;
}

section button:hover {
  box-shadow: none;
  color: lightskyblue;
  text-shadow: 0 0 5px lightskyblue;
  background-color: #000;
 
}

div.itens {
  width: 1000px;
  display: flex;
  justify-content: space-around;
}

div ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

div ul li {
  height: 200px;
  overflow-y: scroll;
  list-style: none;

  box-sizing: border-box;

  padding: 40px;
  width: 350px;
  margin: 20px;

  border-radius: 20px;
  box-shadow: 0 0 5px 1px #bbb;

  display: flex;
  font-size: 25px;

  color: #111;
  background-color: #eee;
  position: relative;

  transition: 0.3s;
  cursor: pointer;
}

div ul li:hover {
  background-color: #fff;
  opacity: 0.9;
  box-shadow: none;
  box-shadow: 0 0 5px 1px #999;
}

div ul li::-webkit-scrollbar {
  display: none;
}

li .close-btn {
  font-size: 40px;

  position: absolute;
  right: 9px;
  top: -5px;
  
  cursor: pointer;
}

li .close-btn:hover {
  color: rgb(190, 0, 0);
}

div ul li.done-item {
  text-decoration: line-through;
  background-color: #00fc6998;
}


.hidden {
    display: none;
}